<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <nav>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Create Order</a>
    <a routerLink="pizzaOrder" class="btn btn-primary active" role="button" routerLinkActive="active">Pizza Orders List</a>
    <a routerLink="searchPizzaOrder" class="btn btn-primary active" role="button" routerLinkActive="active">Search Order</a>
  </nav>
  <router-outlet></router-outlet>
</div>
